 <table>
 	<tr>
 		<th class="rowHeader">{{title}}</th>
 		<th *ngFor="let portion of portionLabels"  [class] ="portion.foodType">{{portion.label}}</th>
 	</tr>
  <tr *ngFor="let meal of meals" [class.dietTable]="dietTable">
        <td class="rowHeader">{{ meal.name }}</td>

        <td class="protein" 
            (tap)="tap(meal,'protein')"
            (press)="press(meal,'protein')">{{ meal.portions.protein  | isNull }}</td>

        <td class="proteinFat" 
            (tap)="tap(meal,'proteinFat')"
            (press)="press(meal,'proteinFat')">{{ meal.portions.proteinFat  | isNull }}</td>

        <td class="fat" 
            (tap)="tap(meal,'fat')"
            (press)="press(meal,'fat')">{{ meal.portions.fat  | isNull }}</td>

        <td class="carbs" 
            (tap)="tap(meal,'carbs')"
            (press)="press(meal,'carbs')">{{ meal.portions.carbs  | isNull }}</td>

        <td class="dairy" 
            (tap)="tap(meal,'dairy')"
            (press)="press(meal,'dairy')">{{ meal.portions.dairy  | isNull }}</td>

        <td class="fruit" 
            (tap)="tap(meal,'fruit')"
            (press)="press(meal,'fruit')" >{{ meal.portions.fruit  | isNull }}</td>

        <td class="vegetables" 
            (tap)="tap(meal,'vegetables')"
            (press)="press(meal,'vegetables')" >{{ meal.portions.vegetables  | vegetables }}</td>
  </tr>
</table>