p{
	font-size: 70%;
	text-align:center;
	width: 70%;
	margin-left: 15%;
}

img{
	margin-top:-10%;
    width: 40% !important;
}

.double-width{
	width:80% !important;	
}

.dieta{
	color:#31869b;
	font-weight: bold;
}

.diario{
	color:orange;
	font-weight: bold;
}

.vertical-align{
	margin-top: -15%;
}